In [1]:
import pandas as pd
import yaml

In [2]:
with open("../../config.yaml", "r") as file:
    config = yaml.safe_load(file)

df1 = pd.read_csv(config['input_data']['business_class_data'])
df2 = pd.read_csv(config['input_data']['economy_class_data'])
df3 = pd.read_csv(config['input_data']['clean_data'])

In [3]:
df1.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
0,11-02-2022,Air India,AI,868,18:00,Delhi,02h 00m,non-stop,20:00,Mumbai,"25,612"
1,11-02-2022,Air India,AI,624,19:00,Delhi,02h 15m,non-stop,21:15,Mumbai,"25,612"
2,11-02-2022,Air India,AI,531,20:00,Delhi,24h 45m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,20:45,Mumbai,"42,220"
3,11-02-2022,Air India,AI,839,21:25,Delhi,26h 30m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,23:55,Mumbai,"44,450"
4,11-02-2022,Air India,AI,544,17:15,Delhi,06h 40m,1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t...,23:55,Mumbai,"46,690"

In [5]:
df2.head()

,date,airline,ch_code,num_code,dep_time,from,time_taken,stop,arr_time,to,price
0,11-02-2022,SpiceJet,SG,8709,18:55,Delhi,02h 10m,non-stop,21:05,Mumbai,"5,953"
1,11-02-2022,SpiceJet,SG,8157,06:20,Delhi,02h 20m,non-stop,08:40,Mumbai,"5,953"
2,11-02-2022,AirAsia,I5,764,04:25,Delhi,02h 10m,non-stop,06:35,Mumbai,"5,956"
3,11-02-2022,Vistara,UK,995,10:20,Delhi,02h 15m,non-stop,12:35,Mumbai,"5,955"
4,11-02-2022,Vistara,UK,963,08:50,Delhi,02h 20m,non-stop,11:10,Mumbai,"5,955"

In [6]:
df2.value_counts()

date        airline    ch_code  num_code  dep_time  from     time_taken  stop                                                        arr_time  to         price
14-02-2022  Air India  AI       807       17:20     Delhi    15h 15m     1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t  08:35     Mumbai     12,150    2
13-03-2022  Air India  AI       475       13:00     Delhi    24h 35m     1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t  13:35     Mumbai     4,780     2
22-03-2022  GO FIRST   G8       302       05:00     Chennai  14h 40m     1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t  19:40     Bangalore  4,612     1
                                303       20:15     Mumbai   02h 05m     non-stop                                                    22:20     Chennai    3,000     1
                                304       13:45     Chennai  01h 55m     non-stop                                                    15:40     Mumbai     3,000     1
                                                                                                                                                                   ..
14-02-2022  Vistara    UK       944       14:40     Mumbai   05h 15m     1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t  19:55     Hyderabad  11,129    1
                                                             08h 00m     1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t  22:40     Bangalore  11,129    1
                                                             08h 05m     1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t  22:45     Chennai    11,129    1
                                                             08h 15m     1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t  22:55     Hyderabad  9,879     1
31-03-2022  Vistara    UK       996       18:30     Mumbai   25h 45m     1-stop\n\t\t\t\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\t\t\t  20:15     Chennai    4,663     1
Name: count, Length: 206772, dtype: int64

In [20]:
df3.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [7]:
df3.value_counts()

Unnamed: 0  airline    flight   source_city  departure_time  stops  arrival_time   destination_city  class     duration  days_left  price
0           SpiceJet   SG-8709  Delhi        Evening         zero   Night          Mumbai            Economy   2.17      1          5953     1
200091      Air_India  AI-539   Chennai      Evening         one    Morning        Kolkata           Economy   16.00     24         6464     1
200107      Indigo     6E-2752  Chennai      Evening         one    Early_Morning  Kolkata           Economy   9.50      24         7653     1
200106      Air_India  AI-538   Chennai      Night           one    Evening        Kolkata           Economy   21.25     24         7357     1
200105      Indigo     6E-126   Chennai      Evening         one    Late_Night     Kolkata           Economy   7.67      24         7326     1
                                                                                                                                            ..
100050      Indigo     6E-6445  Bangalore    Early_Morning   one    Afternoon      Mumbai            Economy   6.25      35         4349     1
100049      Indigo     6E-113   Bangalore    Morning         one    Afternoon      Mumbai            Economy   5.83      35         4349     1
100048      SpiceJet   SG-3027  Bangalore    Early_Morning   one    Early_Morning  Mumbai            Economy   24.92     35         3990     1
100047      SpiceJet   SG-3027  Bangalore    Early_Morning   one    Evening        Mumbai            Economy   13.08     35         3990     1
300152      Vistara    UK-822   Chennai      Morning         one    Evening        Hyderabad         Business  10.08     49         81585    1
Name: count, Length: 300153, dtype: int64

In [21]:
df3['class'].value_counts()

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [22]:
df3['airline'].value_counts()

airline
Vistara      127859
Air_India     80892
Indigo        43120
GO_FIRST      23173
AirAsia       16098
SpiceJet       9011
Name: count, dtype: int64

In [23]:
df3['departure_time'].value_counts()

departure_time
Morning          71146
Early_Morning    66790
Evening          65102
Night            48015
Afternoon        47794
Late_Night        1306
Name: count, dtype: int64

In [24]:
df3.isna().any()

Unnamed: 0          False
airline             False
flight              False
source_city         False
departure_time      False
stops               False
arrival_time        False
destination_city    False
class               False
duration            False
days_left           False
price               False
dtype: bool

In [25]:
flight = df3.drop(columns=['Unnamed: 0', 'flight'])

In [26]:
flight.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [27]:
flight.shape

(300153, 10)

In [28]:
flight.dtypes

airline              object
source_city          object
departure_time       object
stops                object
arrival_time         object
destination_city     object
class                object
duration            float64
days_left             int64
price                 int64
dtype: object

In [29]:
flight_dummies = pd.get_dummies(flight)
flight_dummies.head()

,duration,days_left,price,airline_AirAsia,airline_Air_India,airline_GO_FIRST,airline_Indigo,airline_SpiceJet,airline_Vistara,source_city_Bangalore,...,arrival_time_Morning,arrival_time_Night,destination_city_Bangalore,destination_city_Chennai,destination_city_Delhi,destination_city_Hyderabad,destination_city_Kolkata,destination_city_Mumbai,class_Business,class_Economy
0,2.17,1,5953,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,True,False,True
1,2.33,1,5953,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,True,False,True
2,2.17,1,5956,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3,2.25,1,5955,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
4,2.33,1,5955,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,True,False,True

In [30]:
features = flight_dummies.drop(columns='price')
target = flight_dummies['price']

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(features, target, random_state=13)

In [34]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [35]:
lr.fit(X_train, Y_train)

LinearRegression()

In [36]:
lr.score(X_test, Y_test)

0.9114796877125747